@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');



body {
    font-family: Michroma, serif;
    background-color: white;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background:
        #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color:
        #000;
}

.github a:hover {
    background:
        #191919;
    color:
        #fff;
}

.youtube a:hover {
    background: #c4302b;
    color: #fff;
}

.vk a:hover {
    background:
        #5d84ae;
    color:
        #fff;
}

.nav-link {
    color: rgb(225, 238, 234);
}

.nav-link:hover {
    color: rgb(170, 169, 169);
}

.w {
    width: 20px;
}

.bgc {
    background-image: url(/sourse/img/blob-scene-haikei.png);
}

.scale {
    display: inline-block;
    /* Строчно-блочный элемент */
    overflow: hidden;
    /* Скрываем всё за контуром */
}

.scale img {
    transition: 1s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
}

.scale img:hover {
    transform: scale(1.2);
    /* Увеличиваем масштаб */
}


.btn:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    background-color: white;
    color: black;
    /* font-weight: bold; */
}

.Photos {
    width: 110px;
}
.help>h3 {
    font-size: 20px;
}

.btn2:hover {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
    
}

.navbar-nav .nav-link.active {
    color: rgb(143, 142, 142);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(143, 142, 142);
}

.text-spec {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3rem;
}

.blok-3 {
    background-color: #f1f1f1;
}



.other-4 {
    background-color: #f5f5f5;

}

.last-call {
    margin: 0px;
    background-color: rgb(243, 243, 243);
}
.head2 {
    padding-top: 2em;
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #f64e07 0%, #4e0bf8 100%);


}
.butn {
    padding-top: 8em ;
}
.card {
    background: black;
    color: white;
}


.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text {
    color: rgb(236, 246, 242);
    margin: auto auto;
}

.footer-text {
    color: rgb(92, 94, 93);
    margin: auto auto;
}

.footer-text2 {
    color: rgb(92, 94, 93);
    margin: auto auto;
    font-size: small;
}

.footer-img {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: end;

}

.btn-outline-primary {
    background-color: aliceblue;
    border-top: solid;

}

footer {
    background-color: black;
}

.infocar {
    width: 100%;
}


.call {
    animation: myAnim 2s ease 1.5s infinite normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@media (max-width: 765px) {
    .carousel-indicators {
        display: none;
    }

    .card {
        margin-right: 4em;
        margin-left: 4em;
    }
}


@media (max-width: 550px) {
    .card {
        margin-right: 3em;
        margin-left: 3rem;
    }
    .Photos {
        width: 0px;
    }
    .infocar {
        padding: 0px;
    }
    .head2,
    .pt-1,
    .head3,
    .butn {
        text-align: center;
        padding: 0px;
    }

    .slide-text {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }
    
}

@media (max-width: 1024px) {
    .card {
        font-size: small;
    }
    .Photos {
        width: 200px;
    }
    .head2 {
        padding-top: 1em;
    }
    .infocar {
        width: 105%;
    }
    .butn {
        padding-top: 3em;
    }
    
    
}
@media (max-width: 768px) {
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    .Photos {
        width: 100px;
    }
    .butn {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    
}